.product-edit {
  padding: 0 15px;
}

.product-edit img {
  height: 200px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.product-edit input,
.product-edit textarea {
  display: block;
  width: 100%;
}
